{% spaceless %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Avito Test Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.6, user-scalable=no">
    <meta name="description" content="Avito Test Task">
    <meta name="Keywords" content="Avito Test Task">
    <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Roboto:500,300,400&subset=latin" media="all">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/bundle.min.css" media="all">
</head>
<body class="page-body hide-drowned">
<div class="layout">
    <div class="form">
        <input type="text" class="form__input js-input" maxlength="32">
        <button class="form__button js-build-btn">build array</button>
        <button class="form__button form__button_pink js-flood-btn">flood array</button>
    </div>
    <div class="layout__content-wrap">
        <h1 class="title">Flooded array</h1>
        <div class="container">

            <ul class="list js-list">
            </ul>
        </div>
        <h2 class="volume js-volume">Volume: </h2>
    </div>
</div>
<div class="rain js-rain"></div>
<script src="/scripts/bundle.min.js"></script>
</body>
</html>
{% endspaceless %}