.form
    margin-bottom: 20px

    &__input
        border-radius: 5px
        border: 1px solid $color_gray
        min-width: 32%
        padding: 10px;
        box-sizing: border-box
        outline: none

    &__button
        border-radius: 5px
        background $color_mint
        padding: 0 10px;
        height: 36px
        box-sizing: border-box
        outline: none
        border: 1px solid transparent
        color: $color_white
        margin: 0 0 0 10px
        text-transform: uppercase

    &__button_pink
        background: $color_pink

/* media query */
@media $media_tablet

    .form
        &__input
            min-width: 66%


@media $media_mobile

    .form
        margin-bottom: 20px

        &__input
            min-width: 100%
