.title
    font: 300 italic 94px/1.2 $fontRoboto
    color: $color_dark
    margin-bottom: 2%
    text-align: center
    change-props: font-size
    @extend .animateTop
    animation-delay: 0.3s;


/* media query */
@media $media_tablet

    .title
        font-size: 74px
        animation: none

@media $media_mobile

    .title
        font-size: 50px
