.title
    font: 300 italic 94px/1.2 $fontLobster
    color: $color_dark
    text-shadow: 2px 2px 0 #fff
    margin-bottom: 2%
    text-align: center
    change-props: font-size
    @extend .animateTop
    animation-delay: 0.3s;

.volume
    font: 300 italic 20px/1.2 $fontLobster
    color: $color_dark
    text-shadow: 2px 2px 0 #fff
    margin-top: 1%
    text-align: center
    transition: opacity .3s ease 8s

/* media query */
@media $media_tablet

    .title
        font-size: 74px
        animation: none

@media $media_mobile

    .title
        font-size: 50px
