// Font-family
$fontDefault = Arial, Helvetica, sans-serif
$fontRoboto = 'Roboto', Arial, Helvetica, sans-serif

// Colors
$color_gray = #7e7e7e
$color_orange = #ff8800
$color_blue = #43a6df
$color_white = #fff
$color_dark = #222

// Transition
$time = .3s
$function = linear

// Grid
$grid_hd = 1200px
$grid_tablet = 768px
$grid_mobile = 580px

// Media
$media_hd = "screen and (max-width: " + $grid_hd + ")"  // HD
$media_tablet = "screen and (max-width: " + $grid_tablet + ")"  // Tablet
$media_mobile = "screen and (max-width: " + $grid_mobile + ")"  // Mobile


